.element__delite {
  background: transparent url(../../../images/element/__delite/delite.svg);
  width: 18px;
  height: 19.3px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 18px;
  right: 15px;
  border: none;
  padding: 0;
  transition: all .3s ease-in-out;
}

.element__delite:hover {
  opacity: .6;
  cursor: pointer;
}